/* You can add global styles to this file, and also import other style files */

//For Bootstrap Design
@import '~bootstrap/dist/css/bootstrap.min.css';

//Theme for Material Design
@import "~@angular/material/prebuilt-themes/indigo-pink.css";



.centerAlign
{
text-align: center
}